<a href="https://colab.research.google.com/github/sarikaransing/Python_Data_ETL/blob/main/Dropna_fillna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Read the file using Pandas.

Show number of missing values per column.

Display the first 3 records only.

In [3]:
import pandas  as  pd
df=pd.read_csv("/content/Sales_Data.txt",header=0)
#print(df)
print(df.head(3))
print(df.tail(2))
print("Null Values in Each Column :", df.isnull().sum())

   order_id  cust_id  amount    city
0       1.0      101   200.0  Mumbai
1       2.0      102     NaN   Delhi
2       3.0      103   400.0     NaN
   order_id  cust_id  amount city
4       5.0      104     NaN  NaN
5       NaN      105     NaN  NaN
Null Values in Each Column : order_id    1
cust_id     0
amount      3
city        3
dtype: int64

a. Replace all missing values in the amount column with the mean of the column.
b. Drop all rows where both amount and city are missing.
c. Fill missing city values with the value "Unknown".

In [35]:
from statistics import mean
df['amount']=df['amount'].fillna(df["amount"].mean())
#print(df)

df['city']=df['city'].fillna('Unknown')
#print(df)
df_filter=df.dropna(subset=['order_id'])
print(df_filter)
df_filter.to_csv("/content/cleaned_Sales_Data.txt",index=False,)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-35-552538806.py, line 9)

Append this to cleaned_sales.csv without creating a new header row.

Then, read the final file and print the total number of rows.

In [51]:
new_data = {
    "order_id": [6, 7],
    "cust_id": [105, 106],
    "amount": [300, 450],
    "city": ["Chennai", "Kolkata"]
}
df2=pd.DataFrame(new_data)
#df2.to_csv("/content/cleaned_Sales_Data.txt",mode='a',index=False,header=False)
df3=pd.read_csv("/content/cleaned_Sales_Data.txt")
print(df3)

total_count=df3['order_id'].count()
print("total_rows:",total_count)

   order_id  cust_id      amount     city
0       1.0      101  200.000000   Mumbai
1       2.0      102  283.333333    Delhi
2       3.0      103  400.000000  Unknown
3       4.0      101  250.000000     Pune
4       5.0      104  283.333333  Unknown
5       6.0      105  300.000000  Chennai
6       7.0      106  450.000000  Kolkata
total_rows: 7

drop duplicates based on cust_id ,amount

In [ ]:
df4=pd.read_csv("/content/cleaned_Sales_Data1.txt")
from datetime  import  datetime

df4 = df4.drop(columns=['is_duplicated'], errors='ignore')  # drop if exists
df4['is_duplicated'] = df4.duplicated(subset=['cust_id', 'amount'], keep='first')
#print(df4)

final_result=df4.drop_duplicates(subset=['cust_id','amount'])
#print(final_result)
final_result['order_date']=datetime.now()
print(final_result)