<a href="https://colab.research.google.com/github/sarikaransing/Python_Data_ETL/blob/main/second_highest_Amount_cust.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Read the file using Pandas.

Show number of missing values per column.

Display the first 3 records only.

In [ ]:
import pandas  as  pd
df=pd.read_csv("/content/Sales_Data.txt",header=0)
#print(df)
print(df.head(3))
print(df.tail(2))
print(df.isnull().sum())

   order_id  cust_id  amount    city
0       1.0      101   200.0  Mumbai
1       2.0      102     NaN   Delhi
2       3.0      103   400.0     NaN
   order_id  cust_id  amount city
4       5.0      104     NaN  NaN
5       NaN      105     NaN  NaN
order_id    1
cust_id     0
amount      3
city        3
dtype: int64

In [ ]:
squares = {x: x**2 for x in range(5)}
print(squares.keys())
print(squares.values())
print(squares.items())

dict_keys([0, 1, 2, 3, 4])
dict_values([0, 1, 4, 9, 16])
dict_items([(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)])

In [2]:
from ast import Return
orders = [
    {"order_id": 1, "cust_id": 101, "amount": 200},
    {"order_id": 2, "cust_id": 101, "amount": 180},
    {"order_id": 3, "cust_id": 102, "amount": 400},
    {"order_id": 4, "cust_id": 103, "amount": 500},
    {"order_id": 5, "cust_id": 101, "amount": 150}
]

def second_highest_AmountCust(orders):
  sorted_orders=sorted(orders,key=lambda x: x['amount'], reverse=True)
  #print(sorted_orders)

  if len(sorted_orders) < 2:
    print("not  sufficient  items to find out  second highest amount")

#assign first highest  value  to varaible
  first_highest= sorted_orders[0]['amount']
  print (first_highest)

  for order in sorted_orders[1:]:
    amount=order['amount']
    if amount < first_highest: #we  can directly  use order['amount'] < first_highest as well
      return order
  else:
    None

result=second_highest_AmountCust(orders)
print(result)

500
{'order_id': 3, 'cust_id': 102, 'amount': 400}